/* class global */
a{text-decoration:none;color: black;}
a:hover{text-decoration: none;color: darkblue;}
.one, .two{margin:20px 0;}
.relative{position: relative}
.total{font-size:12px}
.tag{background: yellow;padding: 5px 10px;display: table;text-align: center;margin: 10px auto;border-radius: 10px;}
.activeHeader{font-weight: bold;}
.activeMenu{background: yellow;padding: 5px;border-radius: 5px;}
/* end class global */

@media screen and (max-width: 569px) and (min-width: 320px){
  .headerTop .text-title{display: none;}
  .text-title{font-size: 16px;}
  .berita-outer .berita-top .berita-right .berita-content{max-height: 130px !important;}
  .berita-middle .outer-top .image{display: none;}
  .kegiatan-outer{top: -57px !important;}
  .kegiatan-detail-outer .left-logo{width: 145px;}
}

/* socmed */
.social [class*="fa fa-"]{background-color: #333;border-radius: 30px;color: #fff;display: inline-block;height: 30px;line-height: 30px;margin: auto 3px;width: 30px;font-size: 15px;    text-align: center;}
.fa-twitter:hover{background-color: #46c0fb;}
.fa-facebook:hover{background-color: #3B5998;}
.fa-google-plus:hover{background-color: #ea4335;}
.logo-logo{display:block;margin:0 auto;text-align:center;cursor: pointer}
.logo-logo .logo{display:inline-block;margin-right:0px}
/* end socmed */

/* header */
.navbar-outer{position: relative;}
.navbar {background-color : rgba(26, 35, 80, 0.5);}
.navbar li { color: #000 }
.navbar-header{}
.navbar-header .logo-top{display:block;}
.navbar-header .logo-top .logo2{display:inline-block;position:relative;top:-20px;}
.navbar-header .logo-top .logo2 .img-logo{display: inline;}
.navbar-nav{margin:0 100px; display:block;}
.navbar-nav .li-last{border:1px solid white;border-radius:5px;margin-top:8px;height:45px;}
.navbar-nav .li-last a{position:relative;top:-9px;}
.headerTop{padding-bottom:5px;width: 100%;background-color:#08164e; position:relative;}
.headerTop img{width:100%;opacity:0.3;}
.headerTop .text-title{position:absolute;color:white;font-size:30px;font-weight:bold;left:30%;right:30%;top:30%;bottom:30%;text-align:center;}
.headerTop .text-title .official{font-size:12px;color:white;margin-top:20px;}
/* .active{background-color: gold;} */
/* end header */

/* button */
.btn-default{background-color: #08164e;border-color:transparent;border-radius: 0px;}
.btn-default:hover{box-shadow: 0 0 0 1px #fff inset, 1px 2px 4px #ddd !important;background-color: #08164e;border-color: transparent;border-radius: 0px;}
.btn-tentang-kami{background: white;color:#08164e;border:1px solid #08164e;}
.btn-tentang-kami:hover{background: #08164e;color: white;}
/* end button */

/* footer */
.bawah{width:100%;padding:40px 0;border-top:4px solid yellow;background-color:black;text-align:center;}
.bawah .top{display:block;color:gold;margin-bottom:15px}
.bawah .top .menu{display:inline-block;border-right:1px solid gold;padding:0 15px;}
.bawah .middle{margin-top: 10px;}
.bawah .middle .alamat{color: white;}
.bawah .bottom{margin-top:40px;}
.bawah .bottom .logo{display: block;}
.bawah .bottom .logo img{display: inline;}
.bawah .bottom .logo .title{color:white;font-weight:bold;}
.bawah .bottom .logo .copyright{margin-top:10px;color:white;font-size:12px;}
/* end footer */

/* home */
.outer-top, .outer-middle{padding: 15px}
.outer-top .title-top{color:orange;font-size:16px;}
.outer-top .title{font-size:22px;font-weight:bold;margin-bottom:10px;}
.outer-top .content{margin-bottom:10px;}
.outer-top .content-center{}
.outer-top .content-center img{width: 100%;}
.outer-top .content-right{background-color:rgba(207,188,45, 0.3);}
.outer-top .content-right p{font-weight:bold;font-size:16px;position:absolute;color:brown;font-size:22px;left:20%;right:20%;top:20%;bottom:20%;text-align:center;}
.outer-top .content-right img{width:100%;opacity:0.2;}
.outer-middle .content-center{border:1px solid silver;border-top-right-radius:5px;border-top-left-radius:5px;padding:15px;height:178px;overflow:hidden;}
.outer-middle .content-center .title-bottom{font-weight:bold;}
.outer-middle .content-center p{margin-top:10px;}
.outer-middle .btn-default{width:100%;border-bottom-right-radius:5px;border-bottom-left-radius:5px;border-radius:none;}
.outer-tagline{background-color:#251602;}
.outer-tagline .content{padding:30px 0;color:white;}
/* end home */

/* kegiatan */
.kegiatan-outer{background:white;position:relative;top:-100px;display:block;}
.kegiatan-outer h2{text-align:center;font-weight:bold;padding:20px 0;}
.kegiatan-outer .outer-card{padding:0 40px;}

/* berita */
.berita-outer{padding:0 40px;}
.berita-outer .berita-top{margin:20px 0px;border: 1px solid #e2e1e0;padding: 5px;box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);border-radius: 5px;}
.berita-outer .berita-top img{width:100%;}
.berita-outer .berita-top .berita-right{height:300px;padding:10px;}
.berita-outer .berita-top .berita-right h2{font-size: 20px;padding: 0px;margin:0 0 10px 0;}
.berita-outer .berita-top .berita-right .berita-content{overflow:hidden;max-height:250px;}
.berita-middle{margin:20px 0;}
.berita-middle .title-top{font-size: 16px;color: black}
.berita-middle .outer-top{}
.berita-middle .outer-top .top-left{border:1px solid #e2e1e0;box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;height:197px;border-radius:5px;border-top-right-radius:0px;border-bottom-right-radius:0px;}
.berita-middle .outer-top .reporter{font-size:10px;margin:5px 0;}
.berita-middle .outer-top .content{margin-bottom:10px;max-height:66px;overflow:hidden;}
.berita-middle .outer-top .title{font-size: 16px;padding: 5px 0;}
.berita-middle .outer-top .bottom{position:absolute;left:15px;bottom:5px;}
.berita-middle .outer-top .bottom-right{position:absolute;right;right:15px;bottom:5px;}
.berita-middle .outer-top .image, .berita-middle .image{padding-left: 0}
.berita-middle .image .content-right{background:rgba(26, 35, 80, 0.5);}
.berita-middle .image .content-right p{font-weight:bold;font-size:16px;position:absolute;color:white;font-size:22px;left:20%;right:20%;top:20%;bottom:20%;text-align:center;}

/* Kegiatan detail */
.kegiatan-detail-outer{}
.kegiatan-detail-outer h2{text-align:center;font-weight:bold;padding:20px 0;}
.kegiatan-detail-outer .left-logo{margin:0 auto;margin:10px auto;}
.kegiatan-detail-outer .left-logo img{width: 100%}
.kegiatan-detail-outer .left-menu{padding-left:10px;}
.kegiatan-detail-outer .left-menu li,.profile-outer .left-menu li,.prospek-outer .left-menu li{margin-bottom:5px; cursor: pointer;padding: 5px;}
.kegiatan-detail-outer .left-menu li:hover,.profile-outer .left-menu li:hover,.prospek-outer .left-menu li:hover{color: gray}
.kegiatan-detail-outer .right-content{margin-bottom:20px;}
.kegiatan-detail-outer .right-content .right-title{background:#f8f8f8;border:1px solid #f8f8f8;border-radius:15px;}
.kegiatan-detail-outer .right-content .right-title .content{text-align:left;margin:0 20px;}

.kegiatan-detail-outer .right-content .lokasi-left, .kegiatan-detail-outer .right-content .lokasi-right{margin:20px 0;}
.kegiatan-detail-outer .right-content .lokasi-left .title,.kegiatan-detail-outer .right-content .lokasi-right .title{padding:0;margin:5px 0;}

.kegiatan-detail-outer .right-content .top{font-weight:bold;margin:10px 0;}

/* end Kegiatan detail*/

/* Profile */
.profile-outer{}
.profile-outer h2{text-align:center;font-weight:bold;padding:20px 0;}
.profile-outer .left-logo{margin:0 auto;margin:10px auto;}
.profile-outer .left-logo img{width: 100%}
.profile-outer .left-menu{padding-left:10px;}
.profile-outer .right-content{margin-bottom:20px;}
.profile-outer .right-title{background:#f8f8f8;border:1px solid #f8f8f8;border-radius:15px;}
.profile-outer .content{text-align:left;margin:0 20px;}
.profile-outer .content img{float:left;margin-right:10px;width:200px;}
.profile-outer .content .middle{margin:20px 0px;font-weight:bold;font-size:18px;}
/* end Kegiatan detail*/

/* Prospek */
.prospek-outer{}
.prospek-outer h2{text-align:center;font-weight:bold;padding:20px 0;}
.prospek-outer .left-logo{margin:0 auto;margin:10px auto;}
.prospek-outer .left-logo img{width: 100%}
.prospek-outer .left-menu{padding-left:10px;}
.prospek-outer .right-content{margin-bottom:20px;}
.prospek-outer .right-title{background:#f8f8f8;border:1px solid #f8f8f8;border-radius:15px;}
.prospek-outer .content{text-align:left;margin:0 20px;}
.prospek-outer .content ul.top li:nth-child(odd){font-weight: bold;margin:10px 0;font-size: 16px;}
.prospek-outer .content .right-subtitle{margin:20px 0px;font-weight:bold;font-size:18px;}
/* end Prospek detail*/

/* card */
.card{font-size: 1em;overflow: hidden;padding: 0;border: none;border-radius: .28571429rem;   box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;position: relative;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;flex-direction: column;background-color: #fff;
    margin-bottom: 20px;}
.card img{width:100%;margin: 0 auto;display: block;}
.card-block {font-size: 1em;position: relative;margin: 0;padding: 1em;border: none;border-top: 1px solid rgba(34, 36, 38, .1);box-shadow: none;-webkit-box-flex:1;flex: 1 1 auto;}
.card-title {font-size: 1.28571429em;font-weight: 700;line-height: 1.2857em;margin-bottom: 0.75rem;}
.mt-3 {margin-top: 1rem !important;}
.card-text {clear: both;margin-top: .5em;color: rgba(0, 0, 0, .68);}
.card-text:last-child {margin-bottom: 0;}
.card-footer:last-child {border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);}
.card-footer {font-size: 1em;position: static;top: 0;left: 0;max-width: 100%;padding: .75em 1em;    color: rgba(0, 0, 0, .4);border-top: 1px solid rgba(0, 0, 0, .05) !important;background: #fff;position:relative;}
.card-footer .total{font-size:12px}
small, .small {font-size: 12px;font-weight: normal;cursor: pointer;margin-right: 5px;}
.card-right{float: right;}
/* end card */
/* end kegiatan */