<div class="bawah">
    <div class="top">
        <div class="menu">Beranda</div>
        <div class="menu">Profil</div>
        <div class="menu">Berita</div>
        <div class="menu">Kegiatan Usaha</div>
        <div class="menu">Giat Inkoppol</div>
        <div class="menu">Info</div>
        <div class="menu">Hubungi Kami</li>
    </div>
    <div class="middle">
        <span class="alamat">Gedung Inkoppol Jl. Tambak No. 2 Pegangsaan Menteng Jakarta Pusat, 10320 Indonesia.</span>
    </div>
    <div class="bottom">
        <div class="logo">
            <img src="img/logos.png" width="60" alt="inkoppol">
            <img src="img/logos_2.png" width="60" alt="inkoppol">
            <span class="title">INKOPPOL</span><br>
            <div class="copyright">
                &copy;2017 INKOPPOL All rights reserved
            </div>
        </div>
    </div>
</div>