<div class="navbar-outer">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
    
                <div class="logo-top">
                    <div class="logo2">
                        <a class="navbar-brand" href="index.html">
                            <img class="img-logo" src="img/logos.png" width="60" alt="inkoppol">
                            <img class="img-logo" src="img/logos_2.png" width="60" alt="inkoppol">
                            <span class="title">Inkoppol</span>
                            <br>
                        </a>
                    </div>
                </div>
            </div>
    
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="../inkoppol/">Beranda</a></li>
                    <li><a href="../inkoppol/profile.html">Profile</a></li>
                    <li><a href="../inkoppol/prospek.html">Prospek</a></li>
                    <li><a href="../inkoppol/berita.html">Berita</a></li>
                    <li><a href="../inkoppol/kegiatan-usaha.html">Kegiatan Usaha</a></li>
                    <li><a href="../inkoppol/giat-inkoppol.html">Giat Inkoppol</a></li>
                    <li><a href="../inkoppol/info.html">Info</a></li>
                    <li class="li-last"><a href="../inkoppol/hubungi.html">Hubungi Kami</a></li>
                </ul>
    
            </div>
            <!-- /.navbar-collapse -->
    </nav>
</div>
<section class="produk">
    <div class="headerTop">
        <div class="text-title">Induk Koperasi Kepolisian RI <br> (INKOPPOL)
           <div class="official">Official Website</div> 
        </div>
        <img src="img/gedung.jpg" alt="">
    </div>
</section>
